// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#btn {
  background: #337AB7;
  color: white;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  float: left;  
}

#field {
  height: 35px;
  width: 500px;
  float: left; 
}